body {
  background-color: rgb(137, 173, 211);
}
.board-row {
  margin-left: 22%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.board-container {
  margin: 20px;
  width: 100%;
  text-align: center;
}
.square {
  border: 5px solid lightblue;
  height: 100px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
